.formDisplay {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 3%;
  background-color: #f4f4f4;
}

.formInfo {
  margin: 2% 4%;
  text-align: center;
  h1 {
    border-bottom: 1px solid grey;
    padding-bottom: 0.6em;
    line-height: 1.5em;
  }
  p {
    border-bottom: 1px solid grey;
    padding-bottom: 1.8em;
  }
}

form {
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  // display: flex;
  // flex-direction: column;
}

@media only screen and (min-width: 700px) {
  .formDisplay {
    width: 60rem;
  }

  .formInfo {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 40rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
