.graphicFace {
  background-color: #ffffac;
  padding-bottom: 100px;
  .graphicIntro {
    color: grey;
    margin: 0 20px;
    padding-top: 10%;
  }
  .graph {
    width: 100%;
    margin: 10px 0;
  }
}
