.homeDisplay {
  height: 100vh;
  background-color: #ffe2fc;
}

.homeStatement {
  margin: auto 0;
  text-align: center;
  padding-top: 10%;
  color: black;
  h4 {
    color: grey;
    font-style: italic;
  }
}

.homeDescription {
  background-color: white;
  color: black;
  line-height: 2em;
  margin: 20px 2%;
  padding: 2%;
  border-radius: 1em;
  text-align: center;
  h2 {
    border-bottom: 1px solid grey;
    padding-bottom: 5%;
  }
  img {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
}
