.adviceDisplay {
  background-color: #83acd8;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 80%;
    margin: 5% 0;
  }
  .adviceBox {
    h2 {
      margin: 2%;
      text-align: center;
    }
    p {
      margin: 20px;
    }
  }
  .adviceBox-white {
    h2 {
      margin: 2%;
      text-align: center;
    }
    p {
      margin: 20px;
    }
  }
}

@media only screen and (min-width: 700px) {
  .adviceDisplay {
    flex-direction: row;
  }
}
